body{
    margin: 0px;
    font-family: 'Merriweather', serif;
    text-align: center;
}
h1{
    margin-top: 0%;
    padding-top: 130px;
    margin-bottom: 0;
    text-align: center;
    font-size: 90px;
    font-family: 'Sacramento', cursive;
    color: #000000
}

h2{
    font-family: 'Sriracha', cursive;
}
hr{
   border-style: dotted none none;
   border-width: 7px;
   border-color: gray;
   height: 0px;
   width: 10%;
}
.p-hello{
    margin: 50px auto 50px auto;
    width: 50%;
    line-height: 2;
    

}
.fullstack{
    margin-top: 0px;
    text-align: center; 
    font-size: 25px;
    font-weight: normal;
}
.img-profile{
    width: 300px;
    margin-top: 25px;

}

h3{
    font-family: 'Sriracha', cursive;
}


.top-container{
    background-color: #98ddca;
    
}

.middle-container{
    background-color: #98ddca;
   
}

.bottom-container{
    background-color: #222831;
    
}
.profile{
    /*background-color: #dfeeea;*/
    background-color: #98ddca;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
    
}

.image-mountain{
    width: 50%;
    height: 250px;
}

.first-cloud{
    width: 20%;
    position: absolute;
    left: 70%;
}

.second-cloud{
    width: 20%;
    position: absolute;
    bottom: 60%;
    left: 15%;
}

.third-cloud{
    width: 20%;
    position: absolute;
    bottom: 85%;
    left: 9%;
}
.birds{
    width: 13%;
    position: absolute;
    right: 15%;
    bottom: 45%;
}

.java{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.javascript{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.database{
  width: 25%; 
  float: right;
  margin-left: 30px;
}

.devops{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.footer-p{
    color: white;
    margin-top: 30px;
}
.footer-link{
    padding-right: 10px;
    color: #98ddca;
}
.footer-link:hover{
    color: white;
}

.myButton {
	box-shadow:inset 0px 39px 0px -24px #98ddca;
	background:linear-gradient(to bottom, #98ddca 5%, #98ddca 100%);
	background-color:#98ddca;
	border-radius:10px;
	border:3px solid #2f5d62;
	display:inline-block;
	cursor:pointer;
	color:#020202;
	font-family:'Merriweather', serif;
	font-size:16px;
	font-weight:bold;
	padding:6px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #5e8b7e;
}
.myButton:hover {
	background:linear-gradient(to bottom, #3edbf0 5%, #3edbf0 100%);
	background-color:#3edbf0;
}
.myButton:active {
	position:relative;
	top:1px;
}